* {
  margin: 0;
  padding: 0;
}

h1,
a {
  text-align: center;
}

body {
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 32px 15px;
}

section {
  width: 100%;
}

h1 {
  color: white;
}

a {
  display: block;
  margin: 40px 0;
  color: aquamarine;
  text-decoration: underline;
}

#discover {
  font-size: 50px;
  font-weight: normal;
}

.video {
  text-align: center;
}

#travel-guide {
  font-weight: 300;
  font-size: 42px;
  margin: 30px 0;
}

.description {
  font-size: 21px;
  color: gray;
  text-align: center;
}

.camp-image {
  text-align: center;
  margin: 20px 0;
}

img {
  width: 820px;
}
