* {
  margin: 0;
  padding: 0;
}

h1,
a {
  text-align: center;
}

body {
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 32px 15px;
}

section {
  margin: 0 auto;
}

h1 {
  color: white;
}

a {
  display: block;
  margin: 40px 0;
  color: aquamarine;
  text-decoration: underline;
}

#discover {
  font-size: 50px;
  font-weight: normal;
}
